@import "tailwindcss";

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #111827;
    --primary: #2563eb;
    --secondary: #4b5563;
    --accent: #f3f4f6;
  }

  /* Force .dark class selectors */
  .dark {
    --background: #030712;
    --foreground: #f9fafb;
    --primary: #3b82f6;
    --secondary: #9ca3af;
    --accent: #1f2937;
  }
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
    /* Transition add korle theme change smooth hobe */
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }
}